<apex:page controller="pxl_ReportingController"
	sidebar="false" standardStylesheets="false">
	<head>
<apex:stylesheet value="{!UrlFor($Resource.jQuery181,'/jquery/jquery-ui.css')}" />
<apex:includeScript value="{!UrlFor($Resource.jQuery181,'/jquery/jquery-1.8.js')}" />
<apex:includeScript value="{!UrlFor($Resource.jQuery181,'/jquery/jquery-ui.js')}" />

<apex:includeScript value="{!URLFOR($Resource.bootstrap, '/bootstrap-3.1.1-dist/js/bootstrap.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.bootstrap, '/bootstrap-3.1.1-dist/css/bootstrap.css')}"/>
<style>
	html {
		font-size:100%;

	}
	#leftSelectSection {


	}

    .bttn {
      display:inline-block;margin-bottom:0;font-weight:bold;text-align:center;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:12px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#35b4e9;color:white !important;margin-left:auto;margin-right:auto;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .h2d2 {
        color: black;
        font-size: 32px;
        padding: 5px;
        font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight:300;


    }

    .textinputs {
            border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px; 
            -webkit-border-radius: 10px 10px 10px 10px; 
            border: 1px solid #285e8e;
            padding-left: 10px;
            font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;            
    }

    .lookupinputs {
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px; 
        -webkit-border-radius: 10px 10px 10px 10px; 
        padding-left: 10px;   
        font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; 
        
    }

    #createButton {
		background-color: #FFFFFF;
		padding: 15px 15px 15px 15px;
		border-radius: 10px 10px 0px 0px; -moz-border-radius: 10px 10px 0px 0px; -webkit-border-radius: 10px 10px 0px 0px; 
		border: 0px solid #3276B1;
		font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
		margin-bottom:10px;

    }

    #displayInfo {
    	margin-top:20px;
		padding-left: 15px;
		margin-right: 15px;
		padding-bottom: 15px;
		padding-top:20px;
		font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    #campaignInfo {
    	margin-top:20px;
    	margin-bottom:15px;
    	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    #leftSelectSection {
    	background-color: #EEEEEE;
    	padding-top: 20px;
    	padding-left: 15px;
    	padding-bottom: 15px;
    	padding-right:10px;
    	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    	border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; 
    	margin-left:10px;
    	margin-bottom:10px;
    }


</style>

<title>test title</title>

<style type="text/css">
.ui-autocomplete-loading {
	background: white url("{!$Resource.ajaxload}") right center no-repeat;
}

.autocomplete {
	border-color: #929292 #D5D5D5 #D5D5D5 #929292 !important;
	border-style: solid;
	border-width: 1px !important;
	height: 18px !important;
	width: 200px !important;
}

.searchBtn {
	background: #FDCE3E !important;
	border: 1px solid #E5A716 !important;
	color: #434343 !important;
	height: 18px !important;
	margin-left: 2px !important;
	padding: 0 15px !important;
	font-size: 12px !important;
	font-weight: bold !important;
}

#ext_campaigns {
	overflow: auto;
	max-height: 350px;
	overflow-x: auto;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #ddd;
	padding-bottom:56px;
	margin-left:10px;
}

.cmpgnLine {
	box-sizing: border-box;
	padding: 15px;
	text-align: center;
	display: block;
	width: 300px;
	float: left;
	cursor: pointer;
}

.cmpgnLine img {
	box-sizing: border-box;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	vertical-align: middle;
}

.cmpgnLine .cmpgnDetails {
	box-sizing: border-box;
	margin-bottom: 10px;
	font-size: 15px;
	display: block;
	font-weight: normal;
}

.cmpgnLine.selected .cmpgnDetails {
	font-weight: bold;
}

.cmpgnLine .pic {
	box-sizing: border-box;
	margin-bottom: 5px;
	height: 200px;
	background-color: white;
	padding: 7px;
	display: inline-block;
}

.cmpgnLine.selected .pic {
	background-color: #FCB040;
}

.cmpgnSelect, .cmpgnSelected {
	background-color: #35b4e9;
	border-radius: 5px;
	padding: 7px 13px;
	color: white !important;
	font-weight: bold;
	display: inline-block;
}

.cmpgnSelected, .cmpgnLine.selected .cmpgnSelect {
	display: none;
}

.cmpgnLine.selected .cmpgnSelected {
	background-color: #FCB040;
	display: inline-block;
}

.cmpgnSelect:hover {
	text-decoration: none;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

</style>



<style>
.ui-dialog .ui-state-error {
	padding: .3em;
}
</style>

<script type="text/javascript">
	//To remove conflictions of jquery
	var j$ = jQuery.noConflict();

	function addNewEmailRecord() {
		actionFunctionCall();
	}

	function showmessage(cId, campId) {
		j$('#campaignInfo').css( "display", "none" );
		var campsrc = 'https://www.getpixeltag.com/report-page/loading.html#' + campId;
		//var testsrc = "//www.youtube.com/embed/n3PswaGIZt4";
		j$('#reportingFrame').attr( "src", campsrc);
		j$('#reportingFrame').css( "display", "block" );
		j$('#backButton').css( "display", "inline" );
		j$('.selected').removeClass('selected');
		j$('#' + campId).addClass('selected');
		//document.getElementById(campId).value = cId;
	}

	j$(document)
			.ready(
					function() {
						console.log('troy1');
						pxl_Beta.pxl_ReportingController.getCampaignsData( function(result, event) {
							//console.log( result );

							console.log(event.result);
							result = eval('(' +event.result +')');
							console.log(result);

							if(!result.error ) {
								var campaignHtml = '';
								
								//build the html for showing campaigns
								//	NOTE: this can should be done with angular at some point (on overhaul)
								j$.each( result, function( index, element ) {
									console.log( element );

									campaignHtml += '<div class="cmpgnLine" id="' + element._id + '" onclick="showmessage(\''+ element.pixelId +'\', \'' + element.campaignId + '\')">';
									campaignHtml += '<h4 class="cmpgnDetails">"'+ element.name+'"</h4>';
									campaignHtml += '<div class="pic"> <span class="helper"></span><img src="'+ element.sampleAssetUrl+'" /></div>';
									campaignHtml += '<div class="clear"></div>';
									campaignHtml += '<a class="cmpgnSelect">Select</a>';
									campaignHtml += '<a class="cmpgnSelected">Selected</a>';
									campaignHtml += '</div>';
								});
								//console.log(campaignHtml);

								//replace div tag with constructed options
								j$('#ext_campaigns').html( campaignHtml );
							}
							else {
								console.log( result.error );
								//TODO: display error to user (in a friendly way)
							}

							//controller.set('loading', false);

						},{ escape: false }); 
					});
</script>
	</head>
	<body>

		<apex:pageMessages id="errors" />

		<div style="">

			<div id="createButton">
				<div style="float:left;position:absolute;"> 
					<apex:image url="{!$Resource.PixelTagLogo}" style="height:70px;" />
					<button class="bttn" style="display:none;" onclick="location.reload(true);" id="backButton">
						Back
					</button>
				</div>
			</div>
			<div id="displayInfo">
				<div id="campaignInfo">
					<span id="ext_campaigns" style="display:inline-block;min-height:200px; min-width:200px;">
						<!-- probably use this at some point
							http://datatables.net/ -->
						<p style="text-align:center;margin-top:100px;">Getting your campaigns list..</p>
					</span>	
				</div>
				<div width="100%" style="margin-top:25px;"> 
						<iframe src="/" style="display:none;" id="reportingFrame" width="100%" height="1500px"> </iframe>
				</div>	
			</div>
			<!--
			<table width="100%" border="0" id="displayInfo">
				<tr>
					<td valign="top" id="campaignInfo">
						<span id="ext_campaigns" style="display:inline-block;min-height:200px; min-width:200px;">
							 probably use this at some point
								http://datatables.net/ 
							<p style="text-align:center;margin-top:100px;">Getting your campaigns list..</p>
						</span>
					</td>
				</tr>
				<tr>
					<td valign="top" border="0"> 
						<iframe src="/" style="display:none;" id="reportingFrame" width="100%" height="700px"> </iframe>
					</td>	
				</tr>
			</table>-->

		</div>
	</body>
</apex:page>